$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$body-background-color: #f6f6f6;
$header-background-color: #FFFFFF;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  background-color: $body-background-color;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  background-color: $header-background-color;

  .nav {
    li {
      a {
        color: black;
        font-size: 12px;
        font-weight: bold;
        padding: 15px 0;
      }
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.carousel {
  margin: 40px 0;
  .thumbnail {
    padding: 0;
    margin-bottom: 0;
    border: 0;
    background-color: transparent;
    img {
      margin: 0 auto;
    }
  }
  .carousel-control {
    opacity: 1;
    color: #000;
    &:hover {
      color: #000;
    }
  }
}

.gallery-filter {
  background: black;
  padding: 30px 0;
  margin-bottom: 50px;
  color: white;
  select {
    float: right;
    min-width: 225px;
    height: 30px;
    -webkit-appearance: none;
    @include border-radius(0);
    &:after {
      content: '\e114';
      color: black;
    }
  }
}

.gallery-thumbnails {
  .thumbnail {
    margin-bottom: 50px;
    padding: 0px;
  }
}

/* Responsive: Mobile First */
@media screen and (min-width: 960px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .carousel {
    margin: 40px 0;
    .thumbnail {
      padding: 0;
      margin-bottom: 0;
      border: 0;
      background-color: transparent;
    }
    .slider-controls {
        position: absolute;
        width: 50px;
        right: 10px;
        bottom: 15px;
    }
    .carousel-control {
      opacity: 1;
      color: #000;
      &:hover {
        color: #000;
      }
    }
  }
}
